# Folder to ignore
node_modules
dist
target
docs-local
others
.local-rpms
.local-sysroot-webkit41
src-tauri/patches/**/.cargo-ok
src-tauri/patches/**/.cargo_vcs_info.json
src-tauri/patches/**/Cargo.lock
src-tauri/patches/**/Cargo.toml.orig

# Editor directories
.vscode

# For Zed
.prettierignore

*.local
.env

AGENTS.md
